<% provide(:title, 'Home') %>
<p id="notice"><%= notice %></p>

<div class="center jumbotron"  style="background-color: #f2f2f2; "> 
<div class="circleIcon-container"><div class="circleIcon"></div></div>
  <h1>EDGEUCATION</h1>
  <h2>
  This is the home page for the Edgeucation application.
  </h2>
    <%= form_tag(colleges_path, :method => "get") do %>  
    <div class="my-container">
      <div class="input-group"> 
        <%= search_field_tag :search, params[:search], placeholder: "Search by College name...", class: "form-control input-lg" %>  
        <span class="input-group-btn">  
          <%= button_tag "", :class => 'btn btn-dark btn-lg glyphicon glyphicon-search',:name => nil%>  
        </span>  
      </div>  
    </div>  
    <% end %>
    
    <h6>SEARCH BY:</h6>
  <div class = "advanced-container">
    <%= link_to new_search_path do %>
      <div class="row">
        <div class="col">COST</div>
        <div class="col2">ZIP CODE</div>
        <div class="col3">MAJOR</div>
      </div>
    <% end %>
  </div>

</div> 