<p id="notice"><%= notice %></p>
<center>
  <h3>Search Result</h3>
  <table>
    <thead>
      <tr>
        <th>Institutions</th>
        <th>Zip code</th>
        <th>Cost of Attendence</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @colleges.each do |college| %>
        <tr>
          <td><%= college.coll_name %></td>
          <td><%= college.zip_code %></td>
          <td><%= college.cost_att %></td>
          <td><%= link_to 'Show', college %></td>
          <!--<td><%= link_to 'Edit', edit_college_path(college) %></td>-->
          <!--<td><%= link_to 'Destroy', college, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
</center>