<!--<p id="notice"><%= notice %></p>-->
<%= link_to 'Back', '/colleges' %>
<center>
<div class= "h3-container"><h3>SEARCH BY:</h3>

<%= form_with model: @search do |f| %>
  <div class="grid-container">
     <div class="grid-item-search">
    <%= f.label :zip_code, "By Zip Code"%>
    <%= f.text_field :zip_code, size: 10 %><br>
    </div>
    <div class="grid-item-search">
    <%= f.label :cost_att, "By Cost of Attendance (Max)"%>
    <%= f.text_field :cost_att, size: 10 %><br>
    </div>
    <div class="grid-item-search">
    <%= f.label :subject, "By Major"%>
    <%= f.select :subject, options_for_select(@subject), include_blank: true %><br><br>
    </div>
    <%= button_tag(type: 'submit', class: 'btn-lg grid-item-search-button') do %>
  <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
<% end %>
</div>

<% end %>

</div>
</center>