<p id="notice"><%= notice %></p>

<div class="center jumbotron"> 
  <!--<h1>Edgeucation</h1>-->
  <!--<h2>-->
  <!--This is the home page for the Edgecucation application.-->
  <!--</h2>-->
  <!--<h2>-->
  <!--  <%= form_with(url: '/colleges', method: 'get', local: true) do %>-->
  <!--  <%= text_field_tag(:search) %>-->
  <!--  <%= submit_tag("Search") %>-->
  <!--  <% end %>-->
  <!--</h2>-->
  
  <%= form_tag(searchbar_path, :method => "get") do %>  
    <div class="input-group mb-3">  
      <%= search_field_tag :search, params[:search], placeholder: "Search by College name", class: "form-control" %>  
      <div class="input-group-btn">  
        <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
      </div>  
    </div>  
    <% end %>
  
<h1>Search by:</h1>

<%= form_with model: @search do |f| %>

    <%= f.label :zip_code, "By Zip Code"%>
    <%= f.text_field :zip_code, size: 10 %><br>

    <%= f.label :cost_att, "By Cost of Attendance (Max)"%>
    <%= f.text_field :cost_att, size: 10 %><br><br>

    <%= f.submit "Search" %>
<% end %>
</div>