<!--<p id="notice"><%= notice %></p>-->
<% provide(:title, 'New Search') %>

<%= link_to 'Back', '/colleges', class: "back-btn" %>

<center>
<h3>SEARCH BY:</h3>

<%= form_with model: @search do |f| %>
    <%= f.label :zip_code, "Zip Code*"%>
    <%= f.text_field :zip_code, size: 10 %><br>
    
    <%= f.label :cost_att, "Cost of Attendance (Max)"%>
    <%= f.text_field :cost_att, size: 10 %><br>
    
    <%= f.label :subject, "Major"%>
    <%= f.select :subject, options_for_select(@subject), include_blank: true %><br><br>
    
    <%= f.submit "Search" %>
<% end %>
</center>