<p><%= link_to "Back", new_search_path %></p>

<!--Scroll Button-->
<button onclick="topFunction()" id="myBtn" title="Go to top"><span class='glyphicon glyphicon-chevron-up fa-1x'></button>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>


<center>
 <div class="h5-container"><h5>SEARCH RESULTS:</h5></div>
  <% if @search.search_colleges.empty? %>
    <p>No Institutions matching the filters were found.</p>
  <% else %>
  <div class="grid-container">
  <% @search.search_colleges.each do |college| %>
    <%= link_to college do %>
      <div class="grid-item">
        <%= image_tag 'DefaultCollegeImg.jpeg', class:'home_image'%>
        <p></p>
        <strong><%= college.coll_name %></strong>
        <p></p>
        <p>Cost of Attendance: <%= college.cost_att %></p>
        <p>Zipcode: <%= college.zip_code %></p>
      </div>
    <% end  %>
   <% end %>
</div>
<% end %>
</center>
