<%= link_to 'Back', '/colleges', class: "back-btn" %>
<center>
<div class="h5-container"><h5>SEARCH RESULTS:</h5></div>
  <% if @colleges.empty? %>
    <p Style = "padding-top: 20px;">No Institutions matching the filters were found.</p>
  <% else %>
  <div class="grid-container">
    <% @colleges.each do |college| %>
    <%= link_to college do %>
      <div class="grid-item">
        <%= image_tag 'DefaultCollegeImg.jpeg', class:'home_image'%>
        <p></p>
        <strong><%= college.coll_name %></strong>
        <p></p>
        <p>Zipcode: <%= college.zip_code %></p>
        <p>Cost of Attendance: $<%= college.cost_att %></p>
      </div>
    <% end  %>
   <% end %>
</div>
<% end %>
</center>
<%= will_paginate @colleges %>