<% provide(:title, 'College') %>
<!--<div class="banner">-->
    <%= image_tag @college.image , class:'banner' %>
    <p class="bannerText"><%= @college.coll_name %></p>
<!--</div>-->
<center>
<div class="flex-container">
  <div class="flex-left">

<p>
  <strong>Zip code:</strong>
  <%= @college.zip_code %>
</p>

<p>
  <strong>Cost of Attendance:</strong>
  <%= @college.cost_att %>
</p>
</div>
<div class="flex-right">
<p>
  <strong>Majors available:</strong>
  <% @college.majors.each do |major| %>
  <p><%= major.subject %></p>
  <% end %>
</p>
</div>
</div>
</center>